<mat-card>
  <mat-card-header>
    <mat-card-title>Rating's Add</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Moody Rating</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>S&P Rating</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Fitch Rating</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Order Number</mat-label>
        <input type="number" matInput>
      </mat-form-field>
      <button mat-raised-button color="warn" type="button">Back</button>
      <button mat-raised-button color="primary">Add</button>
    </form>
  </mat-card-content>
</mat-card>