<mat-card>
  <mat-card-header>
    <mat-card-title>Curve Point's List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="">
      <thead>
        <tr>
          <th class="mat-header-cell" scope="col">#</th>
          <th class="mat-header-cell" scope="col">CurvePoint#</th>
          <th class="mat-header-cell" scope="col">Term</th>
          <th class="mat-header-cell" scope="col">Value</th>
          <th class="mat-header-cell" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let curvePoint of curvePointList">
          <th scope="row">{{ curvePoint.id | number }}</th>
          <td>{{ curvePoint.curveId | number }}</td>
          <td>{{ curvePoint.term | number }}</td>
          <td>{{ curvePoint.value | number }}</td>
          <td>
            <button mat-icon-button color="primary" [routerLink]="['./update', curvePoint.id]">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click) = "onDelete(curvePoint.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<button mat-mini-fab color="primary" class="outBoxAddButton" [routerLink]="['./add']">
  <mat-icon>add</mat-icon>
</button>