<section>
    <header>
        <h1>Ratings</h1>
        <a routerLink="/ratings/addRating">Add New</a>
        <a>Delete All</a>
    </header>
    <table>
        <tr>
            <th>Id</th>
            <th>Moody Rating</th>
            <th>S&P Rating</th>
            <th>Fitch Rating</th>
            <th>Order Number</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>45</td>
            <td>Account Moody</td>
            <td>Account S&P</td>
            <td>Account Fitch</td>
            <td>10.0</td>
            <td class="actionTd">
                <a routerLink="/ratings/updateRating/45">Edit</a>
                <a>Delete</a>
            </td>
        </tr>
    </table>
</section>