<mat-card>
  <mat-card-header>
    <mat-card-title>Trade's List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="">
      <thead>
        <tr>
          <th class="mat-header-cell" scope="col">#</th>
          <th class="mat-header-cell" scope="col">Account</th>
          <th class="mat-header-cell" scope="col">Type</th>
          <th class="mat-header-cell" scope="col">Buy Quantity</th>
          <th class="mat-header-cell" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trade of tradeList">
          <th scope="row">{{ trade.id }}</th>
          <td>{{ trade.account }}</td>
          <td>{{ trade.type }}</td>
          <td>{{ trade.buyQuantity | number }}</td>
          <td>
            <button mat-icon-button color="primary" [routerLink]="['./update', trade.id]">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click) = "onDelete(trade.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>

<button mat-mini-fab color="primary" class="outBoxAddButton" [routerLink]="['./add']">
  <mat-icon>add</mat-icon>
</button>