<h1 mat-dialog-title>Update Bid</h1>
<div mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>Account</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Type</mat-label>
    <input matInput>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Bid Quantity</mat-label>
    <input type="number" matInput>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button>Back</button>
  <button mat-button cdkFocusInitial>Update</button>
</div>