<mat-card>
  <mat-card-header>
    <mat-card-title>Bid's Add</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form (ngSubmit)="onAdd()">
      <mat-form-field appearance="outline">
        <mat-label>Account</mat-label>
        <input [(ngModel)]="newBid.account" matInput name="newBid.account">
      </mat-form-field>
      <mat-form-field appearance="outline">
    	  <mat-label>Type</mat-label>
        <input [(ngModel)]="newBid.type" matInput name="newBid.type">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Bid Quantity</mat-label>
        <input [(ngModel)]="newBid.bidQuantity" type="number" matInput name="newBid.bidQuantity">
      </mat-form-field>
      <div class="buttonGroup">
        <button mat-raised-button color="warn" type="button" [routerLink]="['../']">Back</button>
        <button mat-raised-button color="primary" type="submit">Add</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>