<menu>
  <div class="leftMenu">
    <img src="assets/logo.png" alt="Logo PoseidonInc">
    <a routerLink="bids" routerLinkActive="activeA">Bids</a>
    <a routerLink="curvePoints" routerLinkActive="activeA">Curve Points</a>
    <a routerLink="ratings" routerLinkActive="activeA">Ratings</a>
    <a routerLink="trades" routerLinkActive="activeA">Trades</a>
    <a routerLink="rules" routerLinkActive="activeA">Rules</a>
  </div>
  <!-- Add If not auth display: none -->
  <div class="rightMenu">
    <p>Role : Admin</p>
    <a>Log Out</a>
  </div>
  <!--  -->
</menu>
<router-outlet></router-outlet>