<mat-card>
  <mat-card-header>
    <mat-card-title>Trade's Update</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="onUpdate()">
      <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input [(ngModel)]="updateTrade.id" matInput name="updateTrade.id" disabled>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Account</mat-label>
        <input [(ngModel)]="updateTrade.account" matInput name="updateTrade.account">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Type</mat-label>
        <input [(ngModel)]="updateTrade.type" matInput name="updateTrade.type">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Buy Quantity</mat-label>
        <input [(ngModel)]="updateTrade.buyQuantity" matInput name="updateTrade.buyQuantity" type="number">
      </mat-form-field>
      <div class="buttonGroup">
        <button mat-raised-button color="warn" type="button" [routerLink]="['../../']">Back</button>
        <button mat-raised-button color="primary" type="submit">Update</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>