<section>
    <h1>Update Rule Id: 45</h1>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="description">Type</label>
    <input type="text" name="description" id="description">
    <label for="json">JSON</label>
    <input type="text" name="json" id="json">
    <label for="template">Template</label>
    <input type="text" name="template" id="template">
    <label for="sqlStr">Sql Str</label>
    <input type="text" name="sqlStr" id="sqlStr">
    <label for="sqlPart">Sql Part</label>
    <input type="text" name="sqlPart" id="sqlPart">
    <a>Update Trade</a>
    <a routerLink="/rules">Cancel</a>
</section>