<mat-card>
  <mat-card-header>
    <mat-card-title>Rule's List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="">
      <thead>
        <tr>
          <th class="mat-header-cell" scope="col">#</th>
          <th class="mat-header-cell" scope="col">Name</th>
          <th class="mat-header-cell" scope="col">Description</th>
          <th class="mat-header-cell" scope="col">JSON</th>
          <th class="mat-header-cell" scope="col">Template</th>
          <th class="mat-header-cell" scope="col">Sql Str</th>
          <th class="mat-header-cell" scope="col">Sql Part</th>
          <th class="mat-header-cell" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rule of ruleList">
          <th scope="row">{{ rule.id }}</th>
          <td>{{ rule.name }}</td>
          <td>{{ rule.description }}</td>
          <td>{{ rule.json }}</td>
          <td>{{ rule.template }}</td>
          <td>{{ rule.sqlStr }}</td>
          <td>{{ rule.sqlPart }}</td>
          <td>
            <button mat-icon-button color="primary" [routerLink]="['./update', rule.id]">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click) = "onDelete(rule.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
<button mat-mini-fab color="primary" class="outBoxAddButton" [routerLink]="['./add']">
  <mat-icon>add</mat-icon>
</button>