<mat-card>
  <mat-card-header>
    <mat-card-title>Rule's List</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table class="">
      <thead>
        <tr>
          <th class="mat-header-cell" scope="col">#</th>
          <th class="mat-header-cell" scope="col">Name</th>
          <th class="mat-header-cell" scope="col">Description</th>
          <th class="mat-header-cell" scope="col">JSON</th>
          <th class="mat-header-cell" scope="col">Template</th>
          <th class="mat-header-cell" scope="col">Sql Str</th>
          <th class="mat-header-cell" scope="col">Sql Part</th>
          <th class="mat-header-cell" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <button mat-icon-button color="primary">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button color="primary">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
<button mat-mini-fab color="primary" class="outBoxAddButton">
  <mat-icon>add</mat-icon>
</button>