<section>
    <h1>Update Rating Id: 45</h1>
    <label for="moodyRating">Moody Rating</label>
    <input type="text" name="moodyRating" id="moodyRating">
    <label for="sandpRating">S&P Rating</label>
    <input type="text" name="sandpRating" id="sandpRating">
    <label for="fitchRating">Fitch Rating</label>
    <input type="text" name="fitchRating" id="fitchRating">
    <label for="orderNumber">Order Number</label>
    <input type="number" name="orderNumber" id="orderNumber">
    <a>Update Rating</a>
    <a routerLink="/ratings">Cancel</a>
</section>