<mat-toolbar color="primary">
    <span>Poseidon Inc - Trading App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" xPosition="before" color="primary">
      <button mat-menu-item [routerLink]="['bids']">
        <mat-icon>payments</mat-icon>
        <span>Bids</span>
      </button>
      <button mat-menu-item [routerLink]="['curvePoints']">
        <mat-icon>trending_up</mat-icon>
        <span>Curve Points</span>
      </button>
      <button mat-menu-item [routerLink]="['ratings']">
        <mat-icon>rate_review</mat-icon>
        <span>Ratings</span>
      </button>
      <button mat-menu-item [routerLink]="['trades']">
        <mat-icon>savings</mat-icon>
        <span>Trades</span>
      </button>
      <button mat-menu-item [routerLink]="['rules']">
        <mat-icon>gavel</mat-icon>
        <span>Rules</span>
      </button>
      <button mat-menu-item [routerLink]="['users']">
        <mat-icon>person</mat-icon>
        <span>Users</span>
      </button>
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
  </mat-menu>
  </mat-toolbar>
  <router-outlet></router-outlet>