<section>
    <header>
        <h1>Bids</h1>
        <a routerLink="/bids/addBid">Add New</a>
        <a>Delete All</a>
    </header>
    <table>
        <tr>
            <th>Id</th>
            <th>Account</th>
            <th>Type</th>
            <th>Bid Quantity</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>44</td>
            <td>Account Name</td>
            <td>Account Type</td>
            <td>10.0</td>
            <td class="actionTd">
                <a routerLink="/bids/updateBid/44">Edit</a>
                <a>Delete</a>
            </td>
        </tr>
    </table>
</section>