<section>
    <header>
        <h1>Rules</h1>
        <a routerLink="/rules/addRule">Add New</a>
        <a>Delete All</a>
    </header>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>JSON</th>
            <th>Template</th>
            <th>Sql Str</th>
            <th>Sql Part</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>45</td>
            <td>Rule Name</td>
            <td>Rule Description</td>
            <td>Rule JSON</td>
            <td>Rule Template</td>
            <td>Rule Sql Str</td>
            <td>Rule Sql Part</td>
            <td class="actionTd">
                <a routerLink="/rules/updateRule/45">Edit</a>
                <a>Delete</a>
            </td>
        </tr>
    </table>
</section>