<mat-card>
  <mat-card-header>
    <mat-card-title>Rating's List</mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <table class="">
      <thead>
        <tr>
          <th class="mat-header-cell" scope="col">#</th>
          <th class="mat-header-cell" scope="col">Moody Rating</th>
          <th class="mat-header-cell" scope="col">S&P Rating</th>
          <th class="mat-header-cell" scope="col">Fitch Rating</th>
          <th class="mat-header-cell" class="mat-header-cell" scope="col">Order Number</th>
          <th class="mat-header-cell" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rating of ratingList">
          <th scope="row">{{ rating.id }}</th>
          <td>{{ rating.moodysRating }}</td>
          <td>{{ rating.sandPRating }}</td>
          <td>{{ rating.fitchRating }}</td>
          <td>{{ rating.orderNumber | number }}</td>
          <td>
            <button mat-icon-button color="primary" [routerLink]="['./update', rating.id]">
              <mat-icon>update</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click) = "onDelete(rating.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>

<button mat-mini-fab color="primary" class="outBoxAddButton" [routerLink]="['./add']">
  <mat-icon>add</mat-icon>
</button>