<img src="assets/404NotFound.svg" alt="Page not found">
<div class="notFoundButton">
	<button mat-raised-button color="primary" [routerLink]="['../bids']">Bids</button>
	<button mat-raised-button color="primary" [routerLink]="['../curvePoints']">CurvePoints</button>
	<button mat-raised-button color="primary" [routerLink]="['../ratings']">Ratings</button>
	<button mat-raised-button color="primary" [routerLink]="['../trades']">Trades</button>
	<button mat-raised-button color="primary" [routerLink]="['../rules']">Rules</button>
	<button mat-raised-button color="primary">Logout</button>
</div>