<section>
    <header>
        <h1>Curve Points</h1>
        <a routerLink="/curvePoints/addCurvePoint">Add New</a>
        <a>Delete All</a>
    </header>
    <table>
        <tr>
            <th>Id</th>
            <th>CurvePointId</th>
            <th>Term</th>
            <th>Value</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>45</td>
            <td>12</td>
            <td>14.0</td>
            <td>10.0</td>
            <td class="actionTd">
                <a routerLink="/curvePoints/updateCurvePoint/45">Edit</a>
                <a>Delete</a>
            </td>
        </tr>
    </table>
</section>